html {
    text-align: center;
    font-family: Monaco;
}

.right {
    float: right;
}

.left {
    display: inline-block;
}

.square {
    background-color: white;
    border: 1px solid black;
}

.gray {
    background-color: gray;
    border: 1px solid black;
}

.red {
    background-color: red;
    border: 1px solid black;
}

.green {
    background-color: green;
    border: 1px solid black;
}

.blue {
    background-color: blue;
    border: 1px solid black;
    /* animation: appear 5s infinite linear; */
}

.yellow {
    background-color: yellow;
    border: 1px solid black;
    /* animation: appear 5s infinite linear; */
}

.red {
    background-color: red;
    border: 1px solid black;
}

.gridContainer {
    margin-top: 25px;
    margin-right: 40px;
    display: inline-grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    border: 5px solid black;
    border-radius: 5px;
    height: 575px;
    width: 575px;
}

input[type="range"] {
    width: 400px;
}